<div class="row">
    <div class="col-sm">
        <p>Lamp:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="lamp" onchange="check(this)">
                <label class="onoffswitch-label" for="lamp">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Fan:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="fan" onchange="check(this)">
                <label class="onoffswitch-label" for="fan">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Ac:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="ac" onchange="check(this)">
                <label class="onoffswitch-label" for="ac">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Heater:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="heater" onchange="check(this)">
                <label class="onoffswitch-label" for="heater">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
</div>