<div class="row">
    <div class="col-sm">
        <p>Open/Close ALL:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="all" onchange="check(this)">
                <label class="onoffswitch-label" for="all">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Open/Close ALL DOORS:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="doors" onchange="check(this)">
                <label class="onoffswitch-label" for="doors">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Open/Close ALL WINDOWS:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="windows" onchange="check(this)">
                <label class="onoffswitch-label" for="windows">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>                   
</div>
<div class="row">
    <div class="col-sm">
        <p>Engine 0:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor0" onchange="check(this)">
                <label class="onoffswitch-label" for="motor0">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Engine 1:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor1" onchange="check(this)">
                <label class="onoffswitch-label" for="motor1">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Engine 2:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor2" onchange="check(this)">
                <label class="onoffswitch-label" for="motor2">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Engine 3:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor3" onchange="check(this)">
                <label class="onoffswitch-label" for="motor3">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Engine 4:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor4" onchange="check(this)">
                <label class="onoffswitch-label" for="motor4">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <p>Engine 5:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor5" onchange="check(this)">
                <label class="onoffswitch-label" for="motor5">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Engine 6:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor6" onchange="check(this)">
                <label class="onoffswitch-label" for="motor6">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Engine 8:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor8" onchange="check(this)">
                <label class="onoffswitch-label" for="motor8">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Engine 9:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor9" onchange="check(this)">
                <label class="onoffswitch-label" for="motor9">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Engine 10:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor10" onchange="check(this)">
                <label class="onoffswitch-label" for="motor10">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <p>Engine 11:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor11" onchange="check(this)">
                <label class="onoffswitch-label" for="motor11">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Engine 12:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor12" onchange="check(this)">
                <label class="onoffswitch-label" for="motor12">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Engine 13:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor13" onchange="check(this)">
                <label class="onoffswitch-label" for="motor13">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Engine 14:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor14" onchange="check(this)">
                <label class="onoffswitch-label" for="motor14">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
    <div class="col-sm">
        <p>Engine 15:</p>
        <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="motor15" onchange="check(this)">
                <label class="onoffswitch-label" for="motor15">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
        </div>
    </div>
</div>
