<div class="border border-info" style="margin:1rem;">
    <h3>Last record:</h3>
    <span>Time:</span> <span id="time"></span>
    <br>
    <table class="border border-dark">
        <tr>
            <td class="border border-secondary">Sensor</td>
            <td class="border border-secondary">Temperature</td>
            <td class="border border-secondary" >Humidity</td>
        </tr>
        <tr>
            <td class="border border-secondary">Outside (4)</td>
            <td class="border border-secondary" id="t4"></td>
            <td class="border border-secondary" id="h4"></td>
        </tr>
        <tr>
            <td class="border border-secondary">Bedroom 1 (6)</td>
            <td class="border border-secondary" id="t6"></td>
            <td class="border border-secondary" id="h6"></td>
        </tr>
        <tr>
            <td class="border border-secondary">Kitchen 1 (12)</td>
            <td class="border border-secondary" id="t12"></td>
            <td class="border border-secondary" id="h12"></td>
        </tr>
        <tr>
            <td class="border border-secondary">Kitchen 2 (18)</td>
            <td class="border border-secondary" id="t18"></td>
            <td class="border border-secondary" id="h18"></td>
        </tr>
        <tr>
            <td class="border border-secondary">Bathroom (19)</td>
            <td class="border border-secondary" id="t19"></td>
            <td class="border border-secondary" id="h19"></td>
        </tr>
        <tr>
            <td class="border border-secondary">Living Rm 1 (24)</td>
            <td class="border border-secondary" id="t24"></td>
            <td class="border border-secondary" id="h24"></td>
        </tr>
        <tr>
            <td class="border border-secondary">Living Rm 2 (25)</td>
            <td class="border border-secondary" id="t25"></td>
            <td class="border border-secondary" id="h25"></td>
        </tr>
        <tr>
            <td class="border border-secondary">Bedroom 2 (26)</td>
            <td class="border border-secondary" id="t26"></td>
            <td class="border border-secondary" id="h26"></td>
        </tr>
    </table>
    <br>
</div>