<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Node EJS | Home</title>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="/socket.io/socket.io.js"></script>



    <script>
        

        // socket.emit('hello message', 'this is hello message');
         
        // socket.on('chat message', function (data) {
        //   // $("#iomsg").innerHTML(data);
        //   var p = document.createElement("p");
        //   p.innerHTML = data;
        // //   document.getElementById("iomsg").appendChild(p);
        //   document.body.appendChild(p);
        //   console.log(data)
        //   socket.emit('newsresponse', 'this is news response');
        // });
        
        
    </script>
</head>